<%= link_to "View on forum", discourse_url(topic: topic_id), target: "_blank" if topic_id.present? %>

<div id="discourse-comments"></div>
<script type="text/javascript">
  window.DiscourseEmbed = {
    discourseUrl: '<%= discourse_url %>/',
    topicId: <%= topic_id || "null" %>
  };

  (function() {
    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
    d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
  })();
</script>
