<div id="vanilla-comments"></div>
<script type="text/javascript">
  var vanilla_forum_url = "<%= vanilla_url %>";
  var vanilla_identifier = "enlistment-<%= id %>";

  (function() {
    var vanilla = document.createElement('script');
    vanilla.type = 'text/javascript';
    var timestamp = new Date().getTime();
    vanilla.src = vanilla_forum_url + '/js/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(vanilla);
  })();
</script>
