<% content_for(:page_title) { "Sign in" } %>

<article>
  <%= form_tag("/auth/discourse", method: "post", data: {turbo: false}) do %>
    <button class="btn btn-primary" type="submit">Login with Discourse</button>
  <% end %>

  <% if Rails.env.development? %>
    <%= form_tag("/auth/developer", method: "post", data: {turbo: false}) do %>
      <button class="btn btn-secondary" type="submit">Login with Developer</button>
    <% end %>
  <% end %>
</article>
