<% content_for(:page_title) { "#{@user.short_name} - Service record" } %>

<h2>Service record</h2>

<h3><%= format_service_duration(@user.service_duration) %> of service</h3>

<ul class="user-service-record timeline">
  <% @items_by_year.each do |year, items| %>
    <li class="timeline-item rounded ml-3 p-4 shadow bg-dark">
      <div class="timeline-arrow"></div>
      <h2 class="h5 mb-0"><%= year %></h2>
      <ul class="user-service-record__item-list">
        <% items.each do |item| %>
          <%= render_service_record_partial(item) %>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

