<section class="carousel slide carousel-fade" id="splash" data-ride="carousel">
  <div class="carousel-inner">
    <% homepage_config.splashes.each_with_index do |splash, index| %>
      <div class="carousel-item <% if index == 0 %>active<% end %>">
        <%= image_tag 'splashes/' + splash, class: 'd-block w-100' %>
      </div>
    <% end %>

    <div class="caption">
      <h1 class="title">29th Infantry Division</h1>
      <h2 class="subtitle">
        ARMA 3
        <span class="separator">|</span>
        RISING STORM 2:VIETNAM
        <span class="separator">|</span>
        SQUAD
      </h2>
    </div>
  </div>

  <a class="carousel-control-prev" href="#splash" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <a class="carousel-control-next" href="#splash" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</section>
