<section id="games">
  <h2>Games we're deployed in</h2>
  <div class="paralellogram">
  <% homepage_config[:games].each do |game| %>
    <a class="game" href="<%= game[:url] %>" style="background-image: url('<%= image_path 'games/' + game[:background] %>')">
      <%= image_tag 'games/' + game[:logo], class: 'logo', title: game[:name] %>
    </a>
  <% end %>
  </div>
</section>
