<section class="container posts mt-4" id="videos">
  <h2>Latest videos</h2>
  <div class="row row-cols-1 row-cols-md-3">
  <% homepage_config.playlists.each do |playlist| %>
    <div class="col mb-4">
      <div class="card text-white bg-dark">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            src="https://www.youtube-nocookie.com/embed/videoseries?list=<%= playlist['youtube_id'] %>"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>

        <div class="card-body">
          <h5 class="card-title">
            <a href="https://www.youtube.com/playlist?list=<%= playlist['youtube_id'] %>">
              <%= playlist['name'] %>
            </a>
          </h5>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</section>
