<% @ranks.each do |rank| %>
<div class="media mb-4">
  <%= image_tag rank.image_url, class: 'mr-3 is60x60', alt: rank.abbr unless rank.image.nil? %>
  <div class="media-body">
    <h5 class="mt-0">
      <%= rank.name %>
      <small>(<%= rank.abbr %>)</small>
    </h5>
    <%= rank.description %>
  </div>
</div>
<% end %>
