<article class="mt-4">
  <p>The 29th Infantry Division is a <i>realism unit</i> — a gaming group
  that aims to be as realistic as possible both in-game and out-of-game.
  We have units deployed in three games and our drills are held at various
  times to accommodate members from around the world.</p>

  <div class="row" id="stats">
    <div class="col-sm">
      <span class="caption">Active members</span>
      <span class="figure">424</span>
    </div>
    <div class="col-sm">
      <span class="caption">Established in</span>
      <span class="figure">2005</span>
    </div>
  </div>
</article>
