<% @awards.each do |award| %>
<div class="media mb-4">
  <div class="award-images mr-3">
  <% display_path = "awards/display/#{award.display_filename}" %>
  <% if award.display_filename %>
    <%= image_tag display_path, class: 'award-display mb-3 d-block', alt: award.title %>
  <% end %>

  <% mini_path = "awards/mini/#{award.display_filename}" %>
  <% if award.display_filename %>
    <%= image_tag mini_path, class: 'award-mini mx-auto d-block', alt: award.title %>
  <% end %>
  </div>
  <div class="media-body">
    <h5 class="mt-0"><%= award.title %></h5>
    <%= award.description %>
  </div>
</div>
<% end %>
