<%= content_for :page_title, 'Historical 29th' %>
<p>June 6, 1944</p>

<p>6:30 AM</p>

<p>Normandy, France</p>

<p>Omaha Beach</p>

<p>The first wave of the Allied invasion of Europe hits France’s northern shores, and are met with unexpectedly harsh resistance. Maschinengewehr-42s rip the air, sending more than 1200 rounds per minute toward the Allies. Blasts from German mortars and artillery create a deafening thunder across the sandy battlefield. And at the spearhead of the invasion of Omaha Beach: the 29th Infantry Division of the U.S. Army.</p>

<p>In what is widely considered one of the toughest, and bloodiest, invasions in America history, the 29th ID and their comrades pushed forward to crush the German defenses. Less than three days after their triumphant victory on Omaha Beach, the 29th Infantry Division was called upon to advance deeper into enemy territory and capture the town of Isigny. Advancing through the French hedgerows, the 29th ID proceeded to retake multiple key cities throughout Northern France, liberating the country from Nazi tyranny.</p>

<p>The war took the 29th through four campaigns: Normandy, Northern France, Rhineland, and Central Europe; all of which pushed back the Nazi offensive, and paved the way for the Allied advance into Germany. During their tours, the 29th was recognized for their brave, valiant efforts by being awarded 40 Distinguished Service Cross, 11 Legion of Merit, 856 Silver Star, 25 Soldier Medal, 5,954 Bronze Star, and 176 Air Medal. During their campaigns, the unit captured nearly 39,000 Prisoners of War, a key objective in negotiating with enemy states.</p>

<p>“The Blue and Gray”, as the 29th ID is often referred to, comes from the unit’s seal, or insignia. A taijitu, or “yin yang”, of half blue and half gray represents the composition of the unit; which is composed of men from both the North (Union Blue) and the South (Confederate Gray). It represents eternal life, and the relentless drive of the 29th Infantry Division. The unit’s motivational saying is “Ever Forward”, which coincides with the idea of the insignia: Never giving up, never surrendering, always ahead.</p>

<p>The 29th Infantry Division is one of the most recognized units to fight during World War II on the side of the Allied Forces. Their bravery, tenacity, and brotherhood, is what encompasses the core idea of the United States Military. A soldier in the 29th Infantry Division is a proud one; always ready to fight, always ready to lead the way.</p>

<p>29, Let’s Go!</p>
