<%= content_for :page_title, 'History of our unit' %>

<p>The 29th Infantry Division was activated on March 14, 2005 playing in both the The Trenches and Battle Grounds. The reputable 29th Infantry Division that stands before you today participates in the "realism" community of the Red Orchestra Modification, Darkest Hour: Normandy 1944, Red Orchestra 2/Rising Storm, Arma 3, Rising Storm 2: Vietnam, and Squad.</p>

<p>Prior to August of 2008, the 29th Infantry Division was a unit within the Half-Life Modification, Day of Defeat. When the 29th started out in Day of Defeat, there were roughly 17 members, and almost half of them were inactive. Today, the 29th ID has come to be the largest Realism Unit with almost 300 members. Through training and discipline we've gotten to where we stand today. With new members, returning members, and even veteran members from nearly 6 years ago, we continue growing stronger by the day.</p>

<p>Basic Combat Training, or BCT, is one of the ways we accomplish training new unit members, Cadets, into respectable soldiers of the 29th Infantry Division. Our intricate and well organized office, Lighthouse, takes care of BCT and trains every soldier that enters the unit.</p>

<p>Because of Lighthouse and its efforts, our number are constantly growing. There are many other offices and ways to get involved in the unit; here in the 29th we don't simply "get by." Hundreds of individuals have put forth hundreds of hours building the foundation on which this unit stands today, and we are proud to call ourselves soldiers of the Fightin' 29th!</p>
