<% content_for :page_title, 'Our rank system' %>

<p>All members of the 29th Infantry Division, 116th Regiment, 1st Battalion, have the opportunity of advancing throughout the battalion. You start out as a Private undergoing Basic Training for an entire week. If you show exceptional skills as a Private, you may be promoted to a higher rank in our chain of command.</p>

<p>"29th Infantry Division" serves as a title of this realism unit. In size, we are a Battalion within the Division. US Army units are composed as follows:</p>

<p>Divisions are made up of Regiments, which are made up of Battalions, which are made up of Companies, which are made up of Platoons, which are made up of Squads.</p>

<% @ranks.each do |rank| %>
  <div class="media mb-4">
    <%= image_tag "ranks/60x60/#{rank.filename}", class: 'mr-3', alt: rank.abbr %>
    <div class="media-body">
      <h5 class="mt-0"><%= rank.name %></h5>
      <%# rank.description %>
    </div>
  </div>
<% end %>

<h2>Unit structure</h2>
<%= image_tag 'unit-structure.png', class: 'img-fluid' %>
