<%= content_for :page_title, 'Scrim records' %>

<table class="table">
  <tr>
    <td><a href="https://forums.29th.org/discussion/37465" target="_blank">EP3 vs Canadian Forces</a></td>
    <td>April 25th 2020</td>
    <td><span class="victory">Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://forums.29th.org/discussion/35268/ep2-vs-7th-cavalry-and-3rd-ranger-battalion-official-scrimmage-write-up-and-awards#latest" target="_blank">EP2 vs 7th Cavalry and 3rd Rangers</a></td>
    <td>December 7th 2019</td>
    <td><span class="victory">Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://forums.29th.org/categories/promotions-and-awards" target="_blank">DBoTs I</a></td>
    <td>December 5th 2019</td>
    <td><span class="victory">DP2S2 Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://forums.29th.org/discussion/35060" target="_blank">EP1 vs 508th PIR & 3rd Rangers</a></td>
    <td>November 9th 2019</td>
    <td><span class="victory">Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://forums.29th.org/discussion/33664" target="_blank">EBoTs II</a></td>
    <td>June to August 2019</td>
    <td><span class="victory">EP2S2 Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://forums.29th.org/discussion/29655" target="_blank">EBoTs I</a></td>
    <td>October to December 2018</td>
    <td><span class="victory">EP2S1 Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://forums.29th.org/discussion/28651" target="_blank">DP2 vs DMC</a></td>
    <td>August 12th 2018</td>
    <td><span class="victory">Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://forums.29th.org/discussion/21955" target="_blank">CP2 vs 2MRB</a></td>
    <td>November 4th and 11th 2017	</td>
    <td><span class="victory">Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://forums.29th.org/discussion/18259" target="_blank">AP3 vs 352nd</a></td>
    <td>April 29th 2017</td>
    <td><span class="victory">Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://forums.29th.org/discussion/18144" target="_blank">BP1 vs 1st SS</a></td>
    <td>April 23rd 2017</td>
    <td><span class="victory">Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://forums.29th.org/discussion/15439" target="_blank">AP4 vs 352nd</a></td>
    <td>October 15th 2016</td>
    <td><span class="victory">Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://forums.29th.org/discussion/13018" target="_blank">BP3 vs 2.FJ</a></td>
    <td>May-June 2016</td>
    <td><span class="victory">Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://forums.29th.org/discussion/12007" target="_blank">BBotS RS 2016</a></td>
    <td>May 28th 2016</td>
    <td><span class="victory">AP3S1 Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://forums.29th.org/discussion/12007" target="_blank">BBotS A3 2016</a></td>
    <td>May 21st 2016</td>
    <td><span class="victory">CP2S1 Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://forums.29th.org/discussion/12007" target="_blank">BBotS DH 2016</a></td>
    <td>May 14th 2016</td>
    <td><span class="victory">BP1S1 Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://forums.29th.org/discussion/11781" target="_blank">AP1 vs 352nd & HSA</a></td>
    <td>May 8th 2016</td>
    <td><span class="victory">Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://forums.29th.org/discussion/11862" target="_blank">BP1 vs 2.FJ</a></td>
    <td>April 24th 2016</td>
    <td><span class="victory">Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://forums.29th.org/discussion/10824" target="_blank">BP3 vs 52nd ID</a></td>
    <td>March 5th 2016</td>
    <td><span class="victory">Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://forums.29th.org/discussion/7403" target="_blank">BP3 vs 6th DyW</a></td>
    <td>October 4th 2015</td>
    <td><span class="victory">Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://forums.29th.org/discussion/3896" target="_blank">AP3 vs 5.SS</a></td>
    <td>May 25th 2015</td>
    <td><span class="victory">Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://forums.29th.org/discussion/5191" target="_blank">BP2 vs 2.SS & Gr.559</a></td>
    <td>March 15th 2015</td>
    <td><span class="victory">Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://www.29th.org/forums/?topic=45363.0" target="_blank">BP1 vs PanzerLehr.901</a></td>
    <td>August 18th 2014	</td>
    <td><span class="victory">Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://www.29th.org/forums/index.php?board=232.0" target="_blank">BotS 2013</a></td>
    <td>August to October 2013	</td>
    <td><span class="victory">CP1S3 Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://www.29th.org/forums/?topic=37579.0" target="_blank">DP1 vs 113th Cav</a></td>
    <td>October 7th 2012</td>
    <td><span class="victory">Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://www.29th.org/forums/index.php?board=254.0" target="_blank">BotS 2012</a></td>
    <td>June to July 2012	</td>
    <td><span class="victory">Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://www.29th.org/forums/index.php?topic=35756.0" target="_blank">CP3 vs 113th Cav</a></td>
    <td>May 26th 2012</td>
    <td><span class="victory">Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://www.29th.org/forums/?topic=35658.0" target="_blank">AP1 vs 2.SS</a></td>
    <td>May 18th 2012</td>
    <td><span class="defeat">Defeat</span></td>
  </tr>
  <tr>
    <td><a href="http://www.29th.org/forums/index.php?topic=35252.0" target="_blank">BP1 vs 2.SS</a></td>
    <td>April 15th 2012</td>
    <td><span class="draw">Draw</span></td>
  </tr>
  <tr>
    <td><a href="http://www.29th.org/forums/index.php?topic=34666.0" target="_blank">CP1 vs 25th PzrGren</a></td>
    <td>February 4th 2012</td>
    <td><span class="victory">Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://www.29th.org/forums/?topic=33845.0" target="_blank">AP2 vs 113th Cav</a></td>
    <td>November 12th 2011</td>
    <td><span class="draw">Draw</span></td>
  </tr>
  <tr>
    <td><a href="http://www.29th.org/forums/index.php?topic=22416.0" target="_blank">BotS2010</a></td>
    <td>March 28th 2010</td>
    <td><span class="victory">AP1S2 Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://www.29th.org/forums/?topic=18610.0" target="_blank">CP2 vs 2.SS</a></td>
    <td>August 31st 2009</td>
    <td><span class="defeat">Defeat</span></td>
  </tr>
  <tr>
    <td><a href="http://www.29th.org/forums/?topic=11942.0" target="_blank">BotS 2008</a></td>
    <td>March 21st 2008</td>
    <td><span class="victory">CP3S3 Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://www.29th.org/forums/index.php?topic=11585.msg95881#new" target="_blank">CP4 vs 35th ID</a></td>
    <td>Febuary 29th 2008</td>
    <td><span class="victory">Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://www.29th.org/forums/?topic=9613.0" target="_blank">CP2 vs 2nd RB	</a></td>
    <td>October 14th 2007</td>
    <td><span class="victory">Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://www.29th.org/forums/?topic=8668.0" target="_blank">CP3 vs 26th ID</a></td>
    <td>August 24th 2007</td>
    <td><span class="victory">Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://www.29th.org/forums/?topic=6821.0" target="_blank">CP2 vs 1st Para</a></td>
    <td>May 9th 2007</td>
    <td><span class="victory">Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://www.29th.org/forums/?topic=6421.0" target="_blank">CP3 vs 2nd ID</a></td>
    <td>April 7th 2007</td>
    <td><span class="defeat">Defeat</span></td>
  </tr>
  <tr>
    <td><a href="http://www.29th.org/forums/?topic=1488.0" target="_blank">CP1 vs 502nd PIR</a></td>
    <td>26th July 2006</td>
    <td><span class="victory">Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://www.29th.org/forums/?topic=1184" target="_blank">29th vs 10th MD</a></td>
    <td>25th November 2005</td>
    <td><span class="victory">Victory</span></td>
  </tr>
  <tr>
    <td><a href="http://www.29th.org/forums/?topic=1488.0" target="_blank">29th vs 5.SS</a></td>
    <td>5th September 2005</td>
    <td><span class="victory">Victory</span></td>
  </tr>
</table>
