// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "activeadmin_addons/all";
@import "active_admin/mixins";
@import "active_admin/base";
@import "flatpickr/dist/themes/light.css";
@import "tippy.js/dist/tippy.css";
@import "active_admin/searchable_select";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.status_tag {

  // &.pending { background: }
  &.accepted {
    background: #6da34d;
  }

  &.denied {
    background: #cd4631;
  }

  &.withdrawn {
    background: #ffbf00;
  }

  &.awol {
    background: #e57a44;
  }
}

time[title],
time[data-original-title] {
  text-decoration: underline dotted;
  cursor: help;
}

span.inline-error {
  text-decoration: underline dotted;
  cursor: help;
  background-color: #cd4631;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 3px 5px 2px 5px;
  font-size: 0.8em;
}
