@import "variables";
@import "bootstrap";

$choices-font-size-lg: $font-size-lg;
$choices-font-size-md: $font-size-base;
$choices-font-size-sm: $font-size-sm;
$choices-guttering: $grid-gutter-width;

$choices-border-radius: 0;
$choices-border-radius-item: 0;
@if $enable-rounded {
  $choices-border-radius: $border-radius;
  $choices-border-radius-item: $rounded-pill;
}

$choices-bg-color: $input-bg;
$choices-bg-color-disabled: $input-disabled-bg;
$choices-bg-color-dropdown: $input-bg;
$choices-text-color: $input-color;
$choices-keyline-color: $input-border-color;
$choices-primary-color: $primary;
$choices-disabled-color: $input-disabled-bg;

@import "choices.js/src/styles/choices";

.choices__list--multiple .choices__item,
.choices__item {
  color: $input-color;
}
.choices__list--multiple .choices__button,
.choices__button {
  background-image: $choices-icon-cross-inverse !important;
}
