// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.simple-calendar {
  table {
    table-layout: fixed;
  }

  // Collapse Friday & Saturday as they never have events
  th:nth-last-child(-n+2) {
    width: 5%;
  }

  .today {
    background-color: $olive-drab;
  }

  .event {
    padding: 0 5px;

    &.expected {
      background-color: $jet;
      border-radius: .25rem;
      padding: 2.5px 5px;
    }
  }
}
