@import "variables";

.roster--slim {
  ul {
    margin: 1rem 0;
    padding-left: 1rem;
    border-left: 1px black inset;


    li {
      list-style-type: none;

      summary {
        strong {
          text-decoration: underline $primary;
        }
      }

      img.is16x16 {
        width: 16px;
      }
    }
  }

  // Top-level uls
  article > & > ul {
    padding-left: 0;
    border-left: none;
  }
}

.roster--wide {
  .unit {
    summary {
      h3 {
        display: inline-block;
        margin-top: 1rem;
      }
    }

    .unit-members {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      .unit-member {
        flex-grow: 1;
        padding: 1rem;

        &.unit-member--leader {
          width: 100%;
        }

        .media {
          width: 300px;
          margin: 0 auto;
          padding: 0.6rem;
          border: 1px $dark solid;
          border-radius: 0.2rem; 

          .is60x60 {
            margin-right: 0.6rem;
          }

          .media-body {
            h5 {
              margin: 0;
              font-weight: heavy;
            }
            p {
              margin: 0;
              line-height: 1.2rem;
            }
          }
        }
      }
    }
  }
}
