.user-profile-header {
  .user-profile-header__title {
    margin-bottom: 5px;
    font-size: clamp(20px, 40px, 2.6vw);
  }

  .user-profile-header__assignments {
    list-style: none;
    padding-left: 0;
  }
}

.user-profile-coat {
  max-width: 100%;
}

.user-service-record {
  .user-service-record__item-list {
    padding-left: 20px;
  }

  .user-service-record__item img {
    max-width: 50px;
    max-height: 20px;
    float: right;
  }
}
