$white: #fff;
$beige: #e8eddf;
$gray: #cfdbd5;
$olive-drab: rgba(86,90,67,1);
$gold: #f5cb5c;
$brown: #242423;
$green: #42443a;

$primary: $gold;
$secondary: $green;

// $success: 
// $danger: 
// $info: 
// $warning: 

$dark: $brown;
$light: $beige;

$body-bg: $olive-drab;
$body-color: $beige;
$navbar-dark-color: rgba($white, .95);
$component-active-color: $brown;
