$olive-drab: #565a43ff;
$rifle-green: #414336ff;
$jet: #2b2c28ff;
$black-olive: #3e3f3cff;
$davys-grey: #50504eff;
$dim-gray: #60605eff;
$khaki-web: #c4b895ff;
$gold: #f5cb5c;
$beige: #e8eddf;
$white: #ffffffff;
$deep-chestnut: #BD4B4B;

$primary: $gold;
$secondary: $khaki-web;
$danger: $deep-chestnut;

$dark: $jet;
$light: $beige;

$body-bg: $olive-drab;
$body-color: $beige;
$navbar-dark-color: rgba($white, .95);
$component-active-color: $black-olive;
