$olive-drab: #565a43ff;
$rifle-green: #414336ff;
$jet: #2b2c28ff;
$black-olive: #3e3f3cff;
$davys-grey: #50504eff;
$dim-gray: #60605eff;
$khaki-web: #c4b895ff;
$gold: #f5cb5c;
$beige: #e8eddf;
$white: #ffffffff;
$deep-chestnut: #BD4B4B;

$primary: $gold;
$secondary: $khaki-web;
$danger: $deep-chestnut;

$dark: $jet;
$light: $beige;

$body-bg: $olive-drab;
$body-color: $beige;
$navbar-dark-color: rgba($white, .95);
$component-active-color: $black-olive;

$table-border-color: rgba($beige, .33);
$table-accent-bg: darken($rifle-green, 5%);

$pagination-bg: $rifle-green;
$pagination-border-color: $table-border-color;
$pagination-hover-bg: $gold;
$pagination-hover-color: $black-olive;
$pagination-disabled-bg: $table-accent-bg;
$pagination-disabled-border-color: $pagination-border-color;

$text-muted: lighten($davys-grey, 35%);

$nav-tabs-link-active-bg: $gold;
$nav-tabs-border-color: $table-border-color;
$nav-tabs-link-active-border-color: $nav-tabs-border-color;

$card-bg: $dark;

$input-bg: $beige;
